### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [225]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,45,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [226]:
#df["Purchase ID"].value_counts()
#(df.groupby('Purchase ID')
#.agg({'count','sum'}) (['count', 'mean'])
#)
total_player_df = len(df['SN'].unique())
print('Total Number of Players:', total_player_df)
# players_df = df.loc[:, ['SN']]
# players_df

# players_df.groupby(['SN']).count()

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [227]:
avg_price = round(df['Price'].mean(), 2)
unique_items = len(df['Item Name'].unique())
sum_rev = df['Price'].sum()
total_purch = df.shape[0]

In [228]:
summary_table = pd.DataFrame({'Number of Unique Items': [unique_items],
                             'Average Price': avg_price,
                             'Number of Purchases': total_purch,
                             'Total Revenue': sum_rev})

summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [229]:
gender_demo = pd.DataFrame({'Total Count': df["Gender"].value_counts(),
                            'Percentage of Players': df.groupby(('Gender')).size() / len(df)})
gender_demo

                       Total Count  Percentage of Players
Female                         113               0.144872
Male                           652               0.835897
Other / Non-Disclosed           15               0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [230]:
gender_purch = df.groupby(['Gender'])
gender_purch.sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14947    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [231]:
#still needs work
bins = [5, 9, 14, 19, 24, 29, 34, 39, 45]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+' ]
df['Age Range'] = pd.cut(df.Age, bins=bins, labels=labels)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,45,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [234]:
age_group_df = df.groupby('Age Range')
age_group_df[['Age Range']].count()

age_df = pd.DataFrame({'Total Count': df.groupby(("Age Range")).size(),
                       'Percentage of Players': df.groupby(('Age Range')).size() / len(df)*100})
age_df

           Total Count  Percentage of Players
Age Range
<10                 23               2.948718
10-14               28               3.589744
15-19              136              17.435897
20-24              365              46.794872
25-29              101              12.948718
30-34               73               9.358974
35-39               41               5.256410
40+                 13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame