### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
total_players = len(df['SN'].unique())

players_df = pd.DataFrame([{'Total Players': total_players}])
players_df.set_index('Total Players', inplace = True)
players_df

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
avg_price = round(df['Price'].mean(), 2)
unique_items = len(df['Item Name'].unique())
total_rev = df['Price'].sum()
total_purch = df.shape[0]

In [6]:
summary_table = pd.DataFrame({'Number of Unique Items': [unique_items],
                             'Average Price': avg_price,
                             'Number of Purchases': total_purch,
                             'Total Revenue': total_rev})

summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_demo = df.drop_duplicates(['SN', 'Gender'])
percent_gen = gender_demo.groupby(('Gender')).size() / (total_players/100)
summarize = pd.DataFrame({'Total Count': gender_demo['Gender'].value_counts(),
                          'Percentage of Players': round(percent_gen, 2).astype(float).map("{:,.2f}%".format)})
summarize

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
gender_purch = df.groupby(['Gender'])
avg_purch = gender_purch['Price'].mean()
total_purch = gender_purch['Price'].sum()
avg_total_person = total_purch / summarize['Total Count']
gender_summ = pd.DataFrame({'Purchase Count': df["Gender"].value_counts(),
                            'Average Purchase Price': round(avg_purch, 2).astype(float).map("${:,.2f}".format),
                            'Total Purchase Value': round(total_purch, 2).astype(float).map("${:,.2f}".format),
                            'Avg Total Purchase per Person': round(avg_total_person, 2).astype(float).map("${:,.2f}".format)})

gender_summ

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [5, 9, 14, 19, 24, 29, 34, 39, 45]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+' ]
df['Age Range'] = pd.cut(df.Age, bins=bins, labels=labels)

In [10]:
unique_age = df.drop_duplicates(['SN', 'Gender'])
percentdf = unique_age.groupby(('Age Range')).size() / len(unique_age)*100
age_df = pd.DataFrame({'Total Count': unique_age.groupby(("Age Range")).size(),
                       'Percentage of Players': round(percentdf, 2).astype(float).map("{:,.2f}%".format)})
age_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
age_analysis = df.groupby(['Age Range'])
age_avg = age_analysis['Price'].mean()
total_age_purch = age_analysis['Price'].sum()
unique_total = unique_age.groupby(("Age Range")).size()
average = total_age_purch / unique_total
age_summ = pd.DataFrame({'Purchase Count': df['Age Range'].value_counts(),
                             'Average Purchase Price': round(age_avg, 2).astype(float).map("${:,.2f}".format),
                             'Total Purchase Value': round(total_age_purch, 2).astype(float).map("${:,.2f}".format),
                        'Avg Total Purchase per Person': round(average, 2).astype(float).map("${:.2f}".format)})

age_summ

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
top_spenders = df.groupby(['SN'])
spend_avg = top_spenders['Price'].mean()
total_spend_purch = top_spenders['Price'].sum()
spend_summ = pd.DataFrame({'Purchase Count': df['SN'].value_counts(),
                             'Average Purchase Price': round(spend_avg, 2).astype(float).map("${:,.2f}".format),
                             'Total Purchase Value': round(total_spend_purch, 2).astype(float).map("${:,.2f}".format),
                             })
sorted_spend_df = spend_summ.sort_values('Purchase Count', ascending=False)
sorted_spend_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
game_sales = df.groupby(["Item Name", 'Item ID']).sum().sort_values("Price", ascending=False)
mostpop_df = df.groupby(['Item Name'])
game_sales_total = game_sales['Price']
item_price_df = game_sales_total / mostpop_df.size()
pop_df = pd.DataFrame({'Purchase Count': mostpop_df['Item ID'].value_counts(),
                          'Item Price': round(item_price_df, 2).astype(float).map("${:,.2f}".format),
                       'Total Purchase Value': round(game_sales_total, 2).astype(float).map("${:,.2f}".format)})

pop_sorted = pop_df.sort_values(['Purchase Count', 'Total Purchase Value'], ascending=False)
pop_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
"Extraction, Quickblade Of Trembling Hands",108,9,$3.53,$31.77
"Pursuit, Cudgel of Necromancy",19,8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
item_id_price_dict = dict(zip(df['Item ID'], df['Price']))

top_purchased = df.groupby(['Item ID', 'Item Name'])\
            .agg(['count', 'sum'])\
            .Price.sort_values(by='sum', ascending=False).reset_index()

top_purchased['Item_Price'] = top_purchased['Item ID'].map(item_id_price_dict)

In [15]:
mostprofit = top_purchased[['Item ID', 'Item Name', 'count', 'Item_Price', 'sum']]
mostprofit = mostprofit.rename(columns={"count":"Purchase Count", "Item_Price":"Item Price", 'sum':'Total Purchase Value'})
mostprofit['Item Price'] = mostprofit['Item Price'].astype(float).map("${:,.2f}".format)
mostprofit['Total Purchase Value'] = mostprofit['Total Purchase Value'].astype(float).map("${:,.2f}".format)
mostprofit.head()

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
1,82,Nirvana,9,$4.90,$44.10
2,145,Fiery Glass Crusader,9,$4.58,$41.22
3,92,Final Critic,8,$4.88,$39.04
4,103,Singed Scalpel,8,$4.35,$34.80